gradio>=4.38.0
pandas>=2.2.0
matplotlib>=3.8.0
pdfplumber>=0.11.0
pytesseract>=0.3.10
pdf2image>=1.17.0
openai>=1.3.0
python-dotenv>=1.0.1
Pillow>=10.0.0
dateparser>=1.2.0
streamlit
PyMuPDF
pandas
re
google.generativeai
datetime
